.icon-place{
    height: 8vh;
    width: 8vh;
    margin-top: -2vh;
}

.loading {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}