.filter-button {
    position: relative;
    background-color: whitesmoke;
    border: none;
    padding: 5px 5px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }

  /* Estilos de animación al hacer clic */
  button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
  }
  
  /* Estilos de animación al hacer clic */
  button:active {
    background-color: #e0e0e0;
    transform: scale(0.95);
  }

  .filter-button-image{
    margin-top: -15px;
  }

  * {
    box-sizing: border-box;
  }
  
  .main_form {
    line-height: 1.5;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2.5%;
    max-width: 25rem;
  }
  
  .login {
    box-shadow: 0 0 100px rgb(74, 67, 67);
    border-radius: 3em;
    padding: 0.5rem 2rem;
  }
  
  input,
  button {
    font: inherit;
    color: #d7dce4;
    border: 1px solid white;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
    outline: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  label {
    color: #b2b2b2;
  }
  
  button {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  h1 {
    margin: 0 0 1rem;
  }
  
  img {
    height: auto;
    width: 70%;
    vertical-align: middle;
    margin-top: 1em;
    border: none;
    border-radius: 2em;
  }

  .login-button{
    background-color: whitesmoke;
    color: black;
    width: 30%;
  }