.map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.comment {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 1000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filters {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
    height: 5%;
    z-index: 1000;
}

.loading {
    top: 0;
    left: 0;
    display: fixed;
    position: absolute;
    height: 70vh;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: whitesmoke;
    opacity: 0.7;
    border-radius: "inherit" 
}