.popupContainer {
    display: flex;
    gap: 2rem;
    padding: 15px;
    margin-top: 0.5em;
    z-index: 1050;
    right: 0;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 1em;
}

.cancel_button {
    position: absolute;
    background: none;
    border: none;
    right: 4%;
    top: 8%;
    width: 30px;
    height: 30px;
    margin-left: 35%;
    align-items: center;
}

.cancel_button:hover {
    background: none;
}

.cancel-button-img {
    position: relative;
    margin-top: -12px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
}

h1 {
    color: white;
}

label {
    font-size: 1em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #bbb6b6;
}

textarea {
	width: 100%;
	height: calc(100% - 40px); /* Restamos el doble de padding del formulario para que el textarea ocupe todo el alto de la pantalla */
	resize: both;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 15px;
}
