.popupContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: left;
    gap: 2rem;
    padding: 5em;
    position: absolute;
    margin-top: 3em;
    margin-bottom: 0em;
    z-index: 1050;
    right: 0;
    background-color: #333;
    border: 2px solid white;
    border-radius: 1em;
}

h1 {
    color: white;
}

label {
    font-size: 1em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #bbb6b6;
}

button {
  font: inherit;
  border: 1px solid white;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
  outline: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #ee7e51;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

textarea {
	width: 100%;
	height: calc(100% - 40px); /* Restamos el doble de padding del formulario para que el textarea ocupe todo el alto de la pantalla */
	resize: both;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 15px;
}